@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@300;400&display=swap');

.durationHeader{
    font-family: Roboto Slab Black;
    font-size: 3.5rem;
    color: #F1C405;
}

.durationDesc{
    font-family: Roboto;
    font: 1rem;
    color: white;
    font-weight: 300;
}